$colorBg: #fefefe;
$colorBlue: #093c5e;
$aqua: #23c9cf;
$white: #ffffff;
$colorSoftBlue: #7491B4;
$colorBlack: #000;
$colorBlack2: #333333;
$colorRed: #fa4616;
$colorRed2: #de2e2e;
$colorGrey: #dfe2e8;
$colorGreen: #49d049;
$colorPink: #fbbaba;

.error-message {
  color: red;
  font-size: 0.75rem;
  &.mb-10 {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.not-found-page {
  text-align: center;
  .title1 {
    font-size: 30px;
  }
  .title2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .title3 {
    font-size: 12px;
    color: #999;
  }
}

.navbar {
  //background: $colorBlue;
  transition: background 0.5s ease;
  border-bottom: 1px solid #ddd;
  .MuiPaper-elevation4 {
    box-shadow: none;
  }
  .bar {
    .left-side {
      max-width: 900px;
    }
    .right-side {
      width: 220px;
      justify-content: flex-end;
    }
    .name-holder {
      //color: $colorBg;
      //background: $colorBlue;
      line-height: 34px;
      opacity: 0.8;
      .name-text {
        width: 100px;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      svg {
        position: relative;
        top: 6px;
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  .mobile-link-bar {
    //background: $colorBlue;
    padding: 0 30px;
    a {
      font-size: 15px;
    }
  }
  .nav-logo {

  }
  .menu-icon {
    //color: $colorBg
  }
  .link, .scroll-link {
    font-size: 17px;
    //font-weight: bold;
    //color: $colorBg;
    color: #232323;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: $aqua;
    }
    &.contactUs {
      height: 48px;
      line-height: 48px;
      padding: 0 30px;
      background-color: $colorBlue;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
    }
  }
  .login-button {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 20px;
    color: $colorBg;
    font-weight: 400;
    border: 2px solid $colorBg;
    &:hover {
      color: $aqua
    }
  }
}

.popper-main {
  z-index: 10000;
}

.user-popmenu {
  background: #f7f7f7;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: black;
    .pop-item {
      padding: 15px 60px;
      text-align: center;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        color: $colorBlue;
      }
    }
  }
}

.login-dialog {
  .signUpForm {
    max-width: 400px;
    margin: 48px auto;
    border: solid 1px #dfe2e8;
    box-sizing: border-box;
    .title {
      text-align: center;
      h2 {

        font-size: 36px;
        line-height: 1.11;
        color: #444041;
      }
    }
    .MuiFormControl-root {
      .MuiOutlinedInput-input {
        padding: 11px 14px;
      }
      &.MuiFormControl-marginNormal {
        margin: 0;
      }
    }
  }

  .social-networks {
    .social-main-container {
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }
    .button-icon {
      margin: 5px auto;
      border-right: #fdfdfd 1px solid;
      img {
        height: 40px;
        width: 40px;
        border-radius: 100%;
      }
    }
    .button-text {
      font-weight: bold;
      text-align: center;
    }
  }
}

.instagram-dialog {
  .MuiTypography-h6 {
    font-weight: 600;
  }
  .dialog-text {
    font-size: 14px;
  }
  .facebook-button {
    background: #1877F2;
    color: #fefefe;
    text-transform: none;
    font-size: 21px;
    &:hover {
      background: #2E68F2;
    }
  }
  .google-button {
    width: 198px;
    height: 48px;
    background-image: url("../img/google_button.png" );
    background-size: contain;
    background-repeat: no-repeat;
  }
  .close-icon {
    color: $colorGrey;
    &:hover {
      cursor: pointer;
      color: $colorBlack;
    }
  }
}

.new-login-dialog {
  .modal-close {
    position: absolute;
    right: 3px;
    top: 4px;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #f50057;
    outline: 0;
    &:hover {
      cursor: pointer;
      border-color: green;
    }
    .modal-close-x {
      /*position: absolute;
      left: 0;
      top: 0;*/
      width: 26px;
      height: 26px;
      line-height: 26px;
      svg {
        position: relative;
        right: 0.29rem;
        color: #ffffff;
      }
    }
  }

  .MuiDialog-paper {
    padding: 34px;
    .title {
      text-align: center;
      h2 {
        font-size: 36px;
        line-height: 1.11;
        color: #444041;
      }
    }
    .error-message {
      position: relative;
      margin-bottom: 10px;
      text-align: center;
      font-size: 11px;
      line-height: 1.6;
      color: #d0021b;
    }
    .MuiDialogContent-root {
      padding: 4px;
      .MuiFormControl-root {
        width: 300px;
        .MuiOutlinedInput-input {
          padding: 11px 14px;
        }
        &.MuiFormControl-marginNormal {
          margin-bottom: 0;
          margin-top: 8px;
        }
      }
      .login-button {
        width: 100%;
        height: 46px;
        margin-top: 10px;
      }
      .MuiDivider-middle {
        margin: 20px 16px;
      }
      .social-networks {
        .main-container {
          height: 46px;
          //width: 222px;
          border-radius: 5px;
          margin: 2px 0;
          &:hover {
            cursor: pointer;
            opacity: 0.9;
          }
        }
        .button-icon {
          //padding: 6px 0 0 11px;
          img {
            /*height: 40px;
            width: 40px;*/
            //border-radius: 100%;
            height: 33px;
            width: 33px;
            margin: 6px 0;
          }
        }
        .button-text {
          font-weight: bold;
        }
      }
      .job-type-button {
        width: 100%;
        border-color: #c4c4c4;
        color: #c4c4c4;
        &:hover {
          background-color: #f50057;
          color: #ffffff;
        }
        &.checked {
          background-color: #f50057;
          color: #ffffff;
        }
      }
    }
  }
}

.greeting-content2 {
  background: #093c5e;

  //background: red;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 500px solid white;
    border-left: 400px solid red;
    width: 0;
  }
  /*background-image: url("../img/greeting-background.png");
  background-size: contain;
  background-repeat: no-repeat;*/

}

.home {
  .main-part {
    .background-part {
      //height: 1000px;
      height: 912px;
      .triangle-part {
        background: #093c5e;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          border-bottom: 1000px solid $colorBg;
          border-left: 510px solid $colorBlue;
          width: 0;
        }
      }
    }
    .text-part {
      position: relative;
      .text-container {
        position: absolute;
        height: 670px;
        //background: red;
        top: -700px;
        padding: 0 115px;
        .title {
          font-size: 80px;
          color: $aqua
        }
        .main-title {
          padding-top: 5px;
          font-weight: bold;
          font-size: 42px;
          color: $aqua;
        }
        .main-text {
          font-size: 18px;
          color: $white;
          line-height: 180%;
          padding-top: 80px;
        }
        .image-holder {
          position: relative;
          .greeting-image {
            position: absolute;
            right: 0;
            width: 900px;
            //bottom: 0;
            //height: 630px;
          }
        }
      }
    }
  }

  .greeting {
    .greeting-image {
      z-index: 0;
      position: absolute;
      right: 68px;
      bottom: 0;
      width: 54%;
    }
    .greeting-content {
      background: #093c5e;
      .wraper {
        margin: 240px 0 240px 104px;
        .title {
          font-size: 80px;
          color: $aqua
        }
        .main-title {
          padding-top: 5px;
          font-weight: bold;
          font-size: 42px;
          color: $aqua;
        }
        .main-text {
          font-size: 18px;
          color: $white;
          //font-weight: bold;
          line-height: 180%;
          padding-top: 80px;
        }
        .start-button {
          margin-top: 170px;
          width: 178px;
          height: 50px;
          border: 2px solid #23c9cf;
          font-size: 20px;
          color: $white;
          border-radius: 25px;
        }
      }
    }
    .triangle-content {
      width: 0;
      height: 0;
      border-bottom: 1034px solid #fefefe;
      border-left: 634px solid transparent;
    }
  }
  /*.greeting {
    min-height: 1039px;
    .angle {
      background-color: $colorBlue;
      height: inherit;
      max-width: 1393px;
      .title {
        height: 976px;
        &.text {
          position: relative;
          margin: 0 115px;
          height: 525px;
        }
      }
      .title-image {
        z-index: 1;
        position: absolute;
        right: 45px;
        bottom: 0;
      }
    }
  }*/
  .about {
    .about-container {
      max-width: 1200px;
      margin: 0 auto;
      .about-image {
        img {
          width: 100%;
        }
      }
    }
    .image {
      //height: 740px;
    }
    .text {
      .title {
        font-weight: bold;
        font-size: 58px;
        color: $colorBlue;
      }
      .main-text {
        font-size: 21px;
        color: #454545;
      }
      .text-footer {
        font-size: 15px;
        color: #454545;
      }
    }
  }
  .profit {
    background-image: url("../img/profit1.jpg");
    background-size: cover;
    color: $colorBg;
    .profit-container {
      max-width: 1200px;
      margin: 0 auto;
      .title {
        font-size: 55px;
        color: $aqua;
        text-align: center;
      }
      .main-text {
        font-size: 19px;
        color: $colorBg;
        text-align: center;
      }
    }
    .func-button {
      border-color: #fefefe;
      color: white;
      padding-left: 42px;
      padding-right: 42px;
    }
    .detail {
      min-height: 374px;
      .profit-name {
        position: relative;
        width: inherit;
        font-size: 30px;
        font-weight: bold;
        img {
          position: absolute;
          right: -5%;
          top: 18%;
          &.left {
            right: 105%;
          }
        }
      }
    }
    .laptop {
      img {
        width: 100%;
        height: 85%;
      }
    }
    .detail-mobile {
      display: none;
    }
  }
  .rating {
    .rating-container {
      max-width: 1024px;
      text-align: center;
      img {
        width: 80%;
      }
      .title {
        font-size: 55px;
        color: $aqua;
        font-weight: bold;
        //margin: 60px 0;
      }
      .main-text {
        font-size: 17px;
      }
    }
  }
  .service {
    max-width: 1024px;
    margin: 0 auto;
    .main-text {
      font-size: 111px;
      line-height: 1em;
      font-weight: 900;
      color: #e5e5e5;
      text-align: center;
    }
    .category-name {
      font-size: 28px;
      text-align: center;
      height: 85px;
      position: relative;
      //margin-bottom: 40px;
      img {
        position: absolute;
        top: 3%;
        left: 0%;
      }
      &.left {
        padding-bottom: 35px;
      }
    }
    .category-image {
      img {
        transition: transform 0.3s ease;
        height: 65px;
        width: 80px;
        &:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          cursor: pointer;
        }
      }
      .image-influencer {
        height: 65px;
        width: 80px;
      }
    }
  }
  .register-link {
    .title-holder {
      margin-bottom: 75px;
      text-align: center;
      .main-title {
        font-size: 60px;
        color: $colorBlue;
        font-weight: bold;
      }
      .second-title {
        font-size: 26px;
      }
    }
    .link-field {
      max-width: 900px;
      margin: 0 auto;
      .user-card {
        color: $colorBg;
        text-align: center;
        background: $colorPink;
        border-radius: 44px;
        &.influencer {
          background: $colorBlue;
        }
        img {
          width: 100%;
          height: 360px;
        }
        p {
          font-size: 40px;
          margin: 35px 0;
        }
        .func-button {
          color: $colorBg;
          border-color: $colorBg;
        }
      }
    }
  }
  .influencer-list {
    max-width: 1100px;
    margin: 0 auto;
    .main-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 61px;
      text-align: center;
    }
    .slider-influencer {
      .card-item {
        height: 550px;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        .paper-item {
          position: relative;
          top: 163px;
          height: 370px;
          .item-content {
            width: 100%;
            position: absolute;
            top: -142px;
            img {
              display: block;
              margin: 0 auto;
            }
            .avatar {
              width: 280px;
              height: 280px;
              border-radius: 100%;
            }
            .social-name {
              font-size: 12px;
              color: #a1a1a1;
              font-weight: bold;
            }
            .social-type {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .triangle {
    z-index: 0 !important;
    position: absolute;
    top: 0;
    right: 510px;
    width: 0;
    height: 0;
    border-bottom: 1039px solid #fefefe;
    border-left: 577px solid transparent;
  }
}

.advertiser-page {
  color: $colorBlack;
  .container {
    max-width: 256px;
    margin: 0 auto;
    position: relative;
    .card {
      height: 550px;
      //padding: 8px;
      position: relative;
      //margin: 15px;
      border-radius: 4px;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
      img {
        width: 257px;
        height: 550px;
      }
    }
    img {

    }
  }
  .field-item {
    .category-name {
      padding-top: 7px;
      color: #2793e6;
    }
    .category-error {
      padding-left: 88px;
      color: red;
    }
  }
}

.influencer-page {
  box-sizing: border-box;
  max-width: 780px;
  margin: 50px auto;
  .form {
    border: 1px solid $colorGrey;
  }
  .first-title {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
  }
  .second-title {
    text-align: center;
    font-size: 45px;
    color: #898F97;
    margin: 20px 0 50px 0;
  }
  .youtube {
    .youtube-title {
      font-size: 25px;
      font-weight: bold;
    }
    ul {
      padding-left: 17px;
      color: #929490;
    }
  }
  .add {
    svg {
      font-size: 53px;
      position: relative;
      top: 12px;
      right: 8px;
      color: #afafaf;
      &:hover {
        color: $colorRed;
        cursor: pointer;
      }
    }
  }
  .userInfo-form {
    margin-top: 40px;
    label {
      color: #7491B4;
      margin: 15px 0 5px 0;
    }
    input[type=text], input[type=email], input[type=number], select {
      width: 300px;
      height: 33px;
      border: 1px solid $colorSoftBlue;
      border-radius: 7px;
      outline: 0;
      padding: 0 20px;
      &:focus {
        border: 2px solid $colorSoftBlue;
      }
      &.social-count {
        width: 105px;
        margin: 4px 0;
      }
      &.selected-category {
        width: 200px;
        margin: 0 10px;
      }
    }
    select {
      width: 225px;
      margin-right: 4px;
    }

    input[type=checkbox] {
      margin-top: 20px;
    }
    .policy {
      color: #929490;
    }
    .field-item {
      margin-bottom: 5px;
      .place {
        padding: 0 7px;
        padding-top: 7px;
        border: 1px solid;
        border-radius: 6px;
      }
    }
  }

  .userInfo-form-new {
    width: 100%;
    padding: 70px;
    border: solid 1px $colorGrey;
    .MuiInputBase-input {
      height: 6px;
    }
    .MuiSelect-outlined.MuiSelect-outlined {
      line-height: 10px;
    }
    .MuiFormControl-root {
      width: 100%;
      &.MuiFormControl-marginNormal {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      &.select-field {
        margin-top: 10px;
        margin-bottom: 17px;
      }
    }
    label {
      color: #3f4653;
      font-size: 15px;
    }
    .agreement {
      margin-top: 20px;
      font-size: 12px;
      line-height: 1.67;
      color: $colorBlack;
      text-align: center;
      span {
        color: $colorRed;
        &:hover {
          color: $colorBlack;
          cursor: pointer;
        }
      }
    }
  }

  .plus-button{
    border-radius: 12px;
    margin-left: 10px;
    min-width: 0;
    position: relative;
    bottom: 1px;
    font-size: 15px;
  }
  .minus-button {
    border-radius: 12px;
    margin-left: 10px;
    min-width: 0;
    font-size: 21px;
    padding: 0px 17px;
  }

  .submit-button {
    margin-top: 18px;
    border: 2px solid #0d0c0c;
    padding: 10px 48px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: #0d0c0c;
    outline: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .policy {
    margin-top: 15px;
    color: #92948E;
    font-size: 14px;
    span {
      color: $aqua;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .card {
    transition: border-color 0.5s ease, color 0.5s ease;
    border: 2px solid #dcd8d8;
    border-radius: 20px;
    color: #dcd8d8;
    text-align: center;
    img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      transition: opacity 0.5s ease;
      opacity: 0.3;
      display: block;
      margin: 0 auto;
    }
    &:hover, &.selected {
      border-color: $colorRed;
      color: $colorBlack;
      img {
        opacity: 1;
      }
    }
  }
}

.register-detail {
  box-sizing: border-box;
  max-width: 940px;
  margin: 50px auto;
  border: solid 1px $colorGrey;
  .main-title {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #3f4653;
  }
  .title {
    font-size: 15px;
    line-height: 1.33;
    text-align: center;
    color: #3f4653;
    margin-bottom: 60px;
  }
  .MuiInputBase-input {
    height: 6px;
  }
  .MuiSelect-outlined.MuiSelect-outlined {
    line-height: 10px;
  }
  .MuiFormControl-root {
    width: 100%;
    &.MuiFormControl-marginNormal {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    &.select-field {
      margin-top: 10px;
      margin-bottom: 17px;
    }
  }
  label {
    color: #3f4653;
    font-size: 15px;
  }
  .agreement {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.67;
    color: $colorBlack;
    text-align: center;
    span {
      color: $colorRed;
      &:hover {
        color: $colorBlack;
        cursor: pointer;
      }
    }
  }
  .registerNumber {
    box-shadow: none;
  }
  .submit-button {
    margin-top: 18px;
    border: 2px solid #0d0c0c;
    padding: 10px 48px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: #0d0c0c;
    outline: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.product {
  &.select-reg-type {
    box-sizing: border-box;
    max-width: 780px;
    margin: 50px auto;
    text-align: center;
    font-weight: 700;
    border: 1px solid $colorGrey;
    .title {
      .main-title {
        font-size: 24px;
        text-align: center;
        &.second {
          font-size: 45px;
        }
        &.third {
          font-size: 16px;
          color: #555;
          padding-bottom: 60px;
        }
      }
    }
    .cards {
      .content {
        box-sizing: border-box;
        padding: 30px;
        transition: background-color 0.7s ease, color 0.5s ease;
        .content-title {
          font-size: 28px;
        }
        .content-description {
          font-size: 14px;
        }
        &:hover {
          cursor: pointer;
          background-color: $colorRed;
          color: $colorBg;
        }
      }
    }
  }
  .title {
    text-align: center;
    .main {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.33;
      color: #3f4653;
    }
    .secondary {
      display: inline-block;
      min-width: 70px;
      padding: 5px 10px;
      border: 5px solid #ddd;
      border-radius: 19px;
      font-size: 14px;
      line-height: 1.29;
      color: #444041;
      margin-top: 10px;
    }
  }
  .tip {
    position: relative;
    padding: 32px 32px 32px 260px;
    background: #f9f9f9;
    .tip-main {
      margin-bottom: 12px;
      font-size: 18px;
      color: #232323;
      span {
        color: $colorRed;
      }
    }
    .tip-secondary {
      font-size: 15px;
      color: #666;
    }
  }
  .estimate {
    .title {
      margin-bottom: 40px;
    }
    .tip {
      padding: 32px 0;
      text-align: center;
    }
    .price-description {
      font-size: 18px;
      &.red {
        color: $colorRed;
        .value {
          font-size: 30px;
          font-weight: 700;
          line-height: 1.2;
        }
      }
      .value {
        text-align: right;
      }
    }
    .submit-button {
      padding: 70px 0;
    }
  }
  .write {
    .title {
      margin-bottom: 60px;
    }
    .step-holder {
      //padding: 20px;
      font-size: 20px;
      font-weight: 500;
      color: #d0d0d0;
      -webkit-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
      .red {
        color: $colorRed;
        border-bottom: 2px solid $colorRed;
      }
    }
    .category-cards {
      .category-item {
        input[type=checkbox] {
          display: none;
          &:checked + .category-name {
            border: 2px solid $colorRed;
          }
        }
        .category-name {
          box-sizing: border-box;
          font-size: 15px;
          font-weight: 400;
          color: #222;
          padding: 15px;
          height: 76px;
          border: 1px solid #d0d0d0;
          .count {
            text-align: right;
            color: $colorRed;
            font-weight: 500;
          }
          &.age {
            padding: 26px 30px;
          }
          &:hover {
            cursor: pointer;
          }
          &.image {
            text-align: center;
            padding-top: 28px;
          }
          &.red {
            border: 2px solid $colorRed;
          }
        }
      }
    }
    textarea {
      //width: 100%;
      //height: 80px;
      padding: 23px 30px;
      width: -webkit-fill-available;
      resize: vertical;
    }
    .calendar {
      .date {
        padding: 25px;
        border: 1px solid #d0d0d0;
        margin-top: 20px;
      }
      .MuiFormControl-marginNormal {
        margin: 0;
      }
      .MuiInputBase-input {
        padding: 0;
      }
      .MuiInput-underline{
        &:before {
          display: none;
        }
      }
      .calendar-item-3 {
        padding-top: 2px;
        &.current-date {
          letter-spacing: 0.4px;
        }
      }
    }
    .detail {
      .price-holder {
        .counter {
          background-color: #d9d9d9;
          cursor: no-drop;
          input[type=text] {
            text-align: right;
          }
        }
      }
      .image-holder {
        div {
          position: relative;
          img {
            width: 100%;
            max-height: 200px;
          }
          span {
            width: 26px;
            height: 26px;
            position: absolute;
            display: inline-block;
            top: 5px;
            right: 6px;
            background-image: url("../img/photo_del.png");
            text-indent: -10000px;
            cursor: pointer;
          }
        }
      }
    }

    .next-button {
      .left-side {
        background: #232323;
      }
      .right-side {
        color: #ffffff;
        padding: 50px;
        background: $colorRed;
        font-size: 32px;
        font-weight: 500;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .step {
    font-size: 20px;
    font-weight: 700;
    color: #222;
  }
  .step-title {
    font-size: 18px;
    color: #222;
    span.grey {
      margin-left: 4px;
      font-size: 15px;
      color: #999;
    }
  }
  .step-one {
    .MuiFormControlLabel-root {
      margin: 0;
      width: 100%;
    }
    .card {
      box-sizing: border-box;
      position: relative;
      //margin: 10px;
      padding: 35px 18px;
      border-radius: 4px;
      border: 1px solid #d0d0d0;
      height: 340px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: opacity .15s;
      -o-transition: opacity .15s;
      transition: opacity .15s;
      .icon {
         svg {
          width: 70px;
          height: 70px;
          fill: $colorRed;
         }
      }
      .main-title {
        margin-bottom: 6px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        color: #232323;
      }
      .secondary-title {
        display: inline-block;
        padding: 6px;
        border-radius: 3px;
        background: #f7f7f7;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -0.43px;
        color: #555;
      }
      .third-title {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 1.5;
        color: #666;
      }
      &.red {
        border: 2px solid $colorRed;
      }
    }
    .card-new {
      padding: 35px;
      width: 100%;
      &.red {
        border: 2px solid $colorRed;
      }
      .main-title {
        font-size: 18px;
        font-weight: 600;
      }
      .secondary-title {
        font-size: 12px;
        letter-spacing: -0.43px;
        color: #555;
      }
      .description {
        font-size: 12px;
        letter-spacing: -0.43px;
        color: #555;
        margin-top: 22px;
      }
      .icon {
        svg {
          width: 45px;
          height: 45px;
          fill: $colorRed;
        }
      }
      .MuiRadio-root {
        display: none;
      }
    }
  }
  .step-two, .step-three, .step-four {
    .counter {
      font-size: 15px;
      width: 100%;
      .counter-textHolder {
        width: 630px;
        .level {
          width: 86px;
          font-size: 20px;
          font-weight: 500;
          padding-top: 5px;
        }
        .count {
          width: 110px;
        }
        .aim {
          font-size: 12px;
          color: $colorRed;
        }
      }
      .checkbox-label {
        color: #757575;
        box-sizing: border-box;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        padding: 18px;
        position: relative;
        cursor: pointer;
        input[type=checkbox] {
          display: none;
          &:checked + svg {
            fill: red;
          }
        }
        span {
          position: relative;
          bottom: 4px;
          left: 10px;
        }
        svg {
          position: relative;
          top: 2px;
          left: 5px;
        }
        &.red {
          border: 2px solid $colorRed;
        }
      }
    }
    .counter-result {
      text-align: right;
      .result-text {
        margin-right: 30px;
        font-size: 20px;
        line-height: 1.5;
      }
      .inf-number, .inf-sum {
        font-size: 32px;
        font-weight: 500;
        color: $colorRed;
      }
      .inf-sum {
        font-size: 20px;
      }
    }
    .MuiInputBase-input {
      padding: 23px 0;
      text-align: right;
    }
    .checkbox-alias {

    }

  }
  .submit-button {
    .MuiButton-root {
      min-width: 258px;
      height: 60px;
      border: 0;
      border-radius: 4px;
      background-color: #000;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
    .submit-tip {
      text-align: center;
      padding: 18px 28px;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;
      .triangle {
        position: absolute;
        top: -19px;
        left: 50%;
        display: block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        background: transparent;
        pointer-events: none;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          width: 12px;
          height: 12px;
          margin: auto;
          background-color: #fff;
          content: '';
          pointer-events: auto;
          -webkit-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
          -webkit-transform: translateY(6.53553px) rotate(45deg);
          -ms-transform: translateY(6.53553px) rotate(45deg);
          transform: translateY(6.53553px) rotate(45deg);
        }
      }
      .first-title {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 700;
        word-break: keep-all;
        color: #555;
      }
      .second-title {
        font-size: 13px;
        line-height: 1.38;
        word-break: keep-all;
        color: #989898;
      }
    }
  }
  .warning-message {
    .text-list {
      font-size: 14px;
      color: #666;
      ul {
        margin: 0;
        li {
          line-height: 21px;
          margin-bottom: 20px;
        }
      }
    }
    .icon-field {
      text-align: center;
      svg {
        width: 96px;
        height: 96px;
        margin-bottom: 20px;
        fill: #666666;
      }
      .icon-text {
        font-size: 18px;
        font-weight: 700;
        color: #666;
      }
    }
  }
}

.campaign, .notification {
  .campaign-step {
    border: 1px solid $colorBlack;
    border-radius: 4px;
    .link-container {
      text-align: center;
      padding: 15px 0;
      .link {
        box-sizing: border-box;
        color: $colorBlack;
        text-decoration: none;
      }
      &:hover, &:hover * {
        background: $colorBlack;
        color: $colorBg;
      }
    }
  }
  .campaign-card {
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    padding: 25px;
    .influencer-count {
      //width: 45px;
      background-color: $colorRed;
      font-size: 12px;
      color: $colorBg;
      padding: 5px 10px;
      border-radius: 20px;
      margin: 0;
    }
    .product-price {
      font-weight: bold;
      font-size: 19px;
      span {
        font-weight: 400;
        color: #afafaf;
        font-size: 14px;
      }
    }
    .product-name {
      padding: 15px 8px;
    }
    .right-side {
      text-align: right;
      color: #D7D7D7;
      .product-delete {
        svg {
          &:hover {
            color: $colorBlack;
            cursor: pointer;
          }
        }
      }
      .product-payment {
        .payment-success {
          color: $colorGreen;
          margin-left: 10px;
        }
        .list-button {
          color: $colorRed2;
          opacity: 60%;
          &:hover {
            cursor: pointer;
            opacity: 100%;
          }
        }
      }
    }
  }
}

.ranking {
  max-width: 1140px;
  margin: 0 auto;
}

.agency {
  box-sizing: border-box;
  max-width: 780px;
  margin: 50px auto;
  color: #3f4653;
  .form {
    border: 1px solid $colorGrey;
  }
  .main-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
  }
  .sub-title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
  }
  .submit-button {
    padding: 15px 0;
  }
}

.join {
  .join-type, .join-sns {
    max-width: 900px;
    margin: 0 auto;
    .title {
      text-align: center;
      font-size: 40px;
      margin-bottom: 30px;
    }
    .MuiFormControlLabel-root {
      margin: 0;
    }
    .card {
      transition: border-color 0.5s ease, color 0.5s ease, background-color 0.7s ease;
      box-sizing: border-box;
      border: 10px solid $colorBg;
      background-color: $colorPink;
      border-radius: 44px;
      &.blue {
        background-color: $colorBlue;
      }
      img {
        width: 360px;
        height: 360px;
        margin-top: 40px;
      }
      p {
        text-align: center;
        font-size: 40px;
        color: $colorBg;
      }
    }
  }

  .join-type {
    .card {
      &:hover, &.selected {
        cursor: pointer;
        border-color: #7aec7e;
      }
    }
  }

  .join-sns {
    .card {
      background-color: #efefef;
      svg {
        width: 200px;
        height: 200px;
        fill: $colorBg;
      }
      &:hover, &.selected {
        cursor: pointer;
        background-color: $colorRed;
      }
      &.instagram {
        &:hover, &.selected {
          background-color: #E1306C;
        }
      }
      &.blog {
        &:hover, &.selected {
          background-color: #01CD38;
        }
      }
    }
  }
}

.privacy {
  .main-box {
    border: solid 1px #dfe2e8;
    .main-title {
      font-size: 27px;
    }
    .text-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .text-main {
      font-size: 14px;
      line-height: 1.8;
      .head {
        position: sticky;
        top: 0
      }
      p {
        margin: 0;
        padding-left: 10px;
      }
      &.gray {
        color: #666;
      }
      ol {
        margin: 0;
        padding-left: 0;
        &.no-type {
          list-style-type: none;
          padding-left: 30px;
        }
        li {
          margin-top: 12px;
        }
        li:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.notification {
  .card {
    border: 1px solid $colorGrey;
    .campaign-card {
      border: 0;
      padding: 0;
    }
  }
}

.footer {
  background: $colorBlue;
  color: $colorBg;
  .footer-container {
    max-width: 1024px;
    margin: 0 auto ;
  }
  .footer-logo {
    text-align: center;
  }
}

.carousel-zone {
  //height: 522px;
  //box-sizing: border-box;
}

.info-insta {
  min-height: 650px;
  font-size: 20px;
  .profile-image {
    img {
      border-radius: 100%;
      width: 100%;
    }
  }
  .profile-info-social {
    .username {
      font-size: 28px;
    }
    .count {
      font-weight: bold;
    }
  }
  .media {
    img {
      width: 100%;
      height: 306px;
    }
  }
}

.profile-menu-link {
  cursor: pointer;
  &:hover {
    background: #f5f6f7;
  }
}

.profile-info {
  max-width: 800px;
  margin: 50px auto;
  .form-container {
    border: 1px solid #dfe2e8;
    .title {
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.33;
      text-align: center;
      color: #3f4653;
    }
    .form-text {
      font-size: 15px;
      .label {
        font-size: 13px;
        margin-bottom: 6px;
      }
      .info-text {
        font-weight: 700;
      }
      .change-button {
        width: 36px;
        border-radius: 4px;
        background: #444041;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: $colorBg;
        &:hover {
          cursor: pointer;
        }
        &.edit {
          font-size: 12px;
          line-height: 31px;
        }
      }
    }
  }
}

.influencer-select {
  .influencer-card {
    transition: background-color 0.5s ease, color 0.5s ease;
    background: #EDCCB9;
    text-align: center;
    &.selected {
      background: #92c391;
    }
    &.disabled {
      opacity: 0.3;
    }
    img {
      width: 100%;
      height: 200px;
    }
  }
  .type {
    &:hover {
      cursor: pointer;
      color: $colorRed;
    }
    &.selected {
      color: $colorRed;
    }
  }
}

.campaign-list {
  max-width: 1140px;
  margin: 0 auto;
  .title {
    font-size: 30px;
    line-height: 1em;
    color: #093c5e;
    font-weight: bold;
  }
  .campaign-item {
    &:hover {
      cursor: pointer;
    }
    .image {
      overflow: hidden;
      height: 255px;
      img {
        height: 100%;
        width: 100%;
        transition: 0.5s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .tags {
      color: #999;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
    }
    .title {
      font-size: 1.1em;
      font-weight: 600;
      color: #313131;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
    }
    .text {
      font-size: 0.8em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
      color: #666;
    }
    .count {
      color: #666;
      font-size: 0.9em;
    }
  }
}

.campaign-detail {
  background-color: #ffffff;
  //border: 1px solid #cacaca;
  .product-image {
    width: 352px;
    .main-img {
      img {
        border-radius: 10px;
        width: 100%;
        height: 352px;
      }
    }
    .img-slider {
      img {
        width: 60px;
        height: 60px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .product-info {
    width: 464px;
    color: #999;
    .channel {
      font-size: 0.75em;
      border: 1px solid #6292ff;
      background-color: #6292ff;
      color: #fff;
      padding: 3px 5px;
      margin: 0;
    }
    .category {
      font-size: 0.75em;
      color: #6292ff;
      border: 1px solid #6292ff;
      padding: 3px 5px;
      margin-left: 4px;
    }
    .name {
      color: #555;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -1px;
    }
    .about {
      font-size: 13px;
    }
    .spon-item {
      font-size: 16px;
      font-weight: 700;
      color: #6292ff;
    }
    .date {
      font-size: 15px;
    }
  }
  .percent_bubble_layer {
    background: #ffffff;
    border: 1px solid #eb128c;
    border-radius: 3px;
    padding: 2px;
    width: 44px;
    text-align: center;
    &:before, &:after {
      border-top: 0px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #eb128c;
      content: "";
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
    }
    &:after {
      border-bottom: 5px solid #ffffff;
      top: -5px;
    }
  }
  figure {
    &.image {
      text-align: center;
      &.image-style-align-right {
        text-align: right;
      }
      &.image-style-align-left {
        text-align: left;
      }
    }
  }
  .sticky-wrapper {
    position: relative;
    &.sticky {
      width: 359px;
      position: fixed;
      left: 1173px;
      z-index: 1039;
      margin-top: 0px;
      top: 0px;
    }
  }


  .provide-info {

  }
  .step-card {
    box-sizing: border-box;
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #cacaca;
    .active {
      background: $white;
      border: 2px solid #fa4616;
    }
  }
  .submenu {
    cursor: pointer;
    background: #f2f2f2;
    text-align: center;
    border-bottom: 2px solid $colorBlack2;
    &.active {
      background: $white;
      border-bottom: 0;
      border-top: 2px solid $colorBlack2;
      border-left: 2px solid $colorBlack2;
      border-right: 2px solid $colorBlack2;
    }
    &.three {
      cursor: default;
      background: $white;
    }
  }
}

.profile {
  .sns-button {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgb(234, 234, 234);
    &:hover {
      border: 2px solid red;
    }
    &.selected {
      border: 2px solid red;
    }
  }
}


@media only screen and (max-width: 1800px) {
  .home{
    .main-part {
      .background-part {
        .triangle-part {
          &:before {
            border-left: 415px solid $colorBlue;
          }
        }
      }
      .text-part {
        .text-container {
          .title {
            font-size: 70px;
          }
          .main-title {
            font-size: 34px;
          }
          .image-holder {
            .greeting-image {
              width: 750px;
            }
          }
        }
      }
    }
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 83px;
      }
      .greeting-content {
        .wraper {
          margin: 235px 0 164px 94px;
          .title {
            font-size: 76px;
          }
          .main-title {
            padding-top: 15px;
            font-size: 45px;
          }
          .main-text {
            font-size: 16px;
            line-height: 180%;
            padding-top: 52px;
          }
          .start-button {
            margin-top: 170px;
            width: 178px;
            height: 50px;
            border: 2px solid #23c9cf;
            font-size: 20px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 898px solid #fefefe;
        border-left: 512px solid transparent;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .home{
    .main-part {
      .text-part {
        .text-container {
          padding: 0 75px;
          .title {
            font-size: 70px;
          }
          .main-title {
            font-size: 32px;
          }
          .image-holder {
            .greeting-image {
              width: 600px;
            }
          }
        }
      }
    }
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 83px;
      }
      .greeting-content {
        .wraper {
          margin: 216px 0 140px 94px;
          .title {
            font-size: 34px;
          }
          .main-title {
            padding-top: 20px;
            font-size: 54px;
          }
          .main-text {
            font-size: 16px;
            line-height: 180%;
            padding-top: 52px;
          }
          .start-button {
            margin-top: 170px;
            width: 178px;
            height: 50px;
            border: 2px solid #23c9cf;
            font-size: 20px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 858px solid #fefefe;
        border-left: 455px solid transparent;
      }
    }
    .about {
      .about-container {
        max-width: 900px;
        .text {
          .title {
            font-size: 33px;
          }
          .main-text {
            font-size: 18px;
          }
          .text-footer {
            font-size: 10px;
          }
        }
      }
    }

  }
  .campaign-list {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1024px) {
  .home{
    .main-part {
      .text-part {
        .text-container {
          .title {
            font-size: 70px;
          }
          .main-title {
            font-size: 26px;
          }
          .image-holder {
            .greeting-image {
              width: 545px;
            }
          }
        }
      }
    }
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 83px;
      }
      .greeting-content {
        .wraper {
          margin: 235px 0 132px 70px;
          .title {
            font-size: 28px;
          }
          .main-title {
            padding-top: 15px;
            font-size: 43px;
          }
          .main-text {
            font-size: 13px;
            line-height: 180%;
            padding-top: 52px;
          }
          .start-button {
            margin-top: 170px;
            width: 178px;
            height: 50px;
            border: 2px solid #23c9cf;
            font-size: 20px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 832px solid #fefefe;
        border-left: 341px solid transparent;
      }
    }
    .profit {
      .content {
        height: 660px;
        .title {
          font-size: 38px;
          margin: 30px 0;
        }
        .main-text {
          font-size: 15px;
          margin-bottom: 88px;
        }
        .detail {

        }
      }
      .func-button {
        padding-left: 20px;
        padding-right: 20px;
      }
      .detail {
        min-height: 290px;
        margin-bottom: 85px;
        img {
          right: -5%;
          top: 18%;
          &.left {
            right: 105%;
          }
        }
        .profit-name {
          font-size: 24px;
        }
        .profit-desc {
          font-size: 13px;
        }
      }
      .laptop {
        .laptop-image {
          height: 256px;
        }
      }
    }
    .influencer-list {
      .slider-influencer {
        .card-item {
          .paper-item {
            .item-content {
              .avatar {
                width: 250px;
                height: 250px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 959px) {
  .navbar {
    .bar {
      .left-side, .right-side {
        width: 80px;
      }
    }
  }

  .home{
    .background-part {
      height: 1000px;
      .triangle-part {
        background: #093c5e;
        position: relative;
        &:before {
          display: none;
        }
      }
    }
    .main-part {
      .text-part {
        .text-container {
          text-align: center;
          .title {
            font-size: 70px;
          }
          .main-title {
            font-size: 26px;
          }
          .image-holder {
            display: none;
            .greeting-image {

            }
          }
        }
      }
    }
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 140px;
      }
      .greeting-content {
        .wraper {
          margin: 202px 0 132px 70px;
          .title {
            font-size: 26px;
          }
          .main-title {
            padding-top: 15px;
            font-size: 40px;
          }
          .main-text {
            font-size: 12px;
            line-height: 180%;
            padding-top: 52px;
          }
          .start-button {
            margin-top: 170px;
            width: 178px;
            height: 50px;
            border: 2px solid #23c9cf;
            font-size: 20px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 770px solid #fefefe;
        border-left: 320px solid transparent;
      }
    }
    .register-link {
      .title-holder {
        margin-bottom: 75px;
        .main-title {
          font-size: 7vw;
        }
        .second-title {
          font-size: 4.5vw;
        }
        .arrow-image {
          width: 35vw;
        }
      }
      .link-field {
        .user-card {
          img {
            height: 35vw;
            width: 40vw;
            display: block;
            margin: 0 auto;
          }
          p {
            font-size: 4.5vw;
            margin: 3vw;
          }
        }
        //max-width: 400px;
      }
    }
    .about {
      .about-container {
        .about-image {
          img {
            width: 50vw;
            display: block;
            margin: 0 auto;
          }
        }
        .text {
          text-align: center;
          .title {
            font-size: 33px;
          }
          .main-text {
            font-size: 18px;
          }
          .text-footer {
            font-size: 10px;
          }
        }
      }
    }
    .profit {
      height: auto;
      .profit-container {
        .title {
          font-size: 5vw;
        }
        .main-text {
          font-size: 2vw;
        }
        .detail {
          display: none;
        }
        .detail-mobile {
          display: block;
          text-align: center;
          .card {
            height: 8vw;
            border: 1px solid $colorBg;
            .profit-name {
              font-size: 2.5vw;
            }
            .profit-desc {
              font-size: 1.7vw;
            }
          }
        }
      }
    }
    .rating {
      .rating-container {
        img {

        }
        .title {
          font-size: 7vw;
        }
        .main-text {
          font-size: 2.8vw;
        }
      }
    }
    .service {
      .main-text {
        font-size: 9vw;
      }
      .category-name {
        height: auto;
        font-size: 3.7vw;
        img {
          display: none;
        }
      }
      .category-image {
        img {
          height: 8vw;
          width: 14vw;
        }
        .image-influencer {
          height: 11vw;
          width: 16vw;
        }
      }
    }
    .influencer-list {
      .slider-influencer {
        .card-item {
          .paper-item {
            .item-content {
              .social-tags {
                font-size: 1.7vw;
              }
            }
          }
        }
      }


      .paper {
        height: 33vw;
        width: 27vw;
        .paper-content {
          .social-name {
            margin: 12px 0;
          }
          .social-image {
            margin: 12px 0 16px 0;
          }
          .social-tags {
            font-size: 1.7vw;
          }
          .avatar {
            width: 24vw;
          }
        }

      }
    }
  }
  .campaign-list {
    .campaign-item {
      .image {
        height: 40vw;
      }
    }
  }

  .campaign-detail {
    max-width: 700px;
  }
  .join {
    .join-type, .join-sns {
      max-width: 400px;
      .card {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
  .login-dialog {
    .signUpForm {
      margin: 0 auto;
      border: 0;
    }
  }
  .register-detail {
    margin: 0 auto;
    border: 0;
  }
  .product {
    &.select-reg-type {
      margin: 0 auto;
      border: 0;
      .title {
        .main-title {
          font-size: 24px;
          &.second {
            font-size: 30px;
          }
          &.third {
            font-size: 16px;
          }
        }
      }
    }
  }
  .agency {
    .form {
      border: 0;
    }
    .main-title {
      font-size: 26px;
    }
    .sub-title {
      font-size: 12px;
    }
  }
  .influencer-page {
    .form {
      border: 0;
    }
    .card {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .profile-info {
    max-width: 500px;
    .form-container {
      border: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home{
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 83px;
      }
      .greeting-content {
        .wraper {
          margin: 235px 0 132px 70px;
          .title {
            font-size: 28px;
          }
          .main-title {
            padding-top: 15px;
            font-size: 43px;
          }
          .main-text {
            font-size: 13px;
            line-height: 180%;
            padding-top: 52px;
          }
          .start-button {
            margin-top: 170px;
            width: 178px;
            height: 50px;
            border: 2px solid #23c9cf;
            font-size: 20px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 832px solid #fefefe;
        border-left: 341px solid transparent;
      }
    }
    .influencer-list {
      .main-title {
        font-size: 7vw;
        margin-bottom: 4vw;
      }
      .slider-influencer {
        .card-item {
          .paper-item {
            width: 300px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .home {
    .register-link {
      .title-holder {
        margin-bottom: 30px;
      }
      .link-field {
        max-width: 350px;
      }
    }
    .service {
      .main-text {
        font-size: 9vw;
      }
      .category-name {
        height: auto;
        font-size: 3.7vw;
        img {
          display: none;
        }
      }
      .category-image {
        img {
          height: 8vw;
          width: 14vw;
        }
        .image-influencer {
          height: 11vw;
          width: 16vw;
        }
      }
    }
  }
  .class{
    height: 300px;
  }
  .campaign-list {
    .campaign-item {
      font-size: 12px;
      .title {
        font-size: 14px;
      }
    }
  }
  .campaign-detail {
    max-width: 350px;
  }
  .footer {
    .footer-text {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home{
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 83px;
      }
      .greeting-content {
        .wraper {
          margin: 163px 20px 81px 20px;
          .title {
            font-size: 28px;
            justify-content: center;
          }
          .main-title {
            padding-top: 15px;
            font-size: 36px;
            justify-content: center;
          }
          .main-text {
            text-align: center;
            font-size: 13px;
            padding-top: 52px;
          }
          .start-button {
            margin: 0 auto;
            margin-top: 75px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 832px solid #fefefe;
        border-left: 341px solid transparent;
      }
    }
    .influencer-list {
      .main-title {

      }
      .paper {
        width: 260px;
        margin: 0 auto;
        .paper-content {
          top: -95px;
          .social-name {
            font-size: 12px;
            margin: 27px 0 17px 0;
          }
          .avatar {
            width: 80%;
          }
          .social-type {
            font-size: 24px;
          }
          .social-image {
            margin: 20px 0 32px 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .home{
    .greeting {
      .greeting-image {
        right: 42px;
        bottom: 83px;
      }
      .greeting-content {
        .wraper {
          margin: 163px 20px 81px 20px;
          .title {
            font-size: 28px;
            justify-content: center;
          }
          .main-title {
            padding-top: 15px;
            font-size: 36px;
            justify-content: center;
          }
          .main-text {
            text-align: center;
            font-size: 13px;
            padding-top: 52px;
          }
          .start-button {
            margin: 0 auto;
            margin-top: 75px;
          }
        }
      }
      .triangle-content {
        width: 0;
        height: 0;
        border-bottom: 832px solid #fefefe;
        border-left: 341px solid transparent;
      }
    }
    .influencer-list {
      .main-title {

      }
      .paper {
        width: 260px;
        margin: 0 auto;
        .paper-content {
          top: -95px;
          .social-name {
            font-size: 12px;
            margin: 27px 0 17px 0;
          }
          .avatar {
            width: 80%;
          }
          .social-type {
            font-size: 24px;
          }
          .social-image {
            margin: 20px 0 32px 0;
          }
        }
      }
    }
  }
}




